.contaner-parent{
     height: 300px;
     width: 200px;
     background-color: cadetblue;
     border-radius: 20px;
     overflow: hidden;
}



.circle{
    height: 80px;
    width: 80px;
    position: relative;
    border-radius: 50%;
    background-color: rgb(204, 202, 202);
    left: 140px;
    top: -20px;

}